body {
  background-color: #292929;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  line-height: 2rem;
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 200;
  color: #C6C6C6;
}
/* section headers */
.section-header {
  font-size: 20px;
  margin-bottom: 15px;
}
.container-fluid {
  padding: 5% 10%;
}
.line-icon {
  margin-right: 10px;
}

/* navigation */

.navbar {
  background-color: #292929;
  padding-left: 10%;
  padding-right: 10%
}
.nav-item {
  padding: 0 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #9B9B9B;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-toggler {

  border: 1px solid #fff;
}
/* title area */
.display-image {
  width: 100%;
  height: auto;
}
.title {
  margin: auto 0;
}
.title-text {
  font-size: 80px;
  padding-bottom: 25px;
  margin-bottom: 0;
}
.title-area {
  position: relative;
  z-index: 1;
}
.title-container {
  padding-top: 50px;
}
.smaller-title {
  font-size: 25px;
  font-weight: 400;
}
/* floadting shapes */
.circle {
  position: absolute;
  left: 0;
  top: 90px;
  width: auto;
  height: 60%;
}
.shapes {
  z-index: 0;
}
.triangle {
  position: absolute;
  right: 0;
  bottom: 355px;
}
/* about me */
.about-image {
  width: 100%;
  height: auto;
}
.about-description {
  padding-left: 45px;
}
.about-heading {
  font-size: 30px;
}
.box {
  background-color: #1F1F1F;
  height: 100%;
  padding: 25px;
}
.box-1{
  padding-left: 0
}
.box-4 {
  padding-right: 0;
}
.company {
  font-size: 14px;
  line-height: 1.5rem;
}
.date {
  font-size: 16px;
  margin-bottom: 10px;
}
.job-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.timeline {
  margin: 45px 0;
}
/* works */
#works {
  position: relative;
  z-index: 1;
}
.skills {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #A3A3A3;
  margin: 0 5px;
}
.skills-container {
  margin-bottom: 45px;
}
.skills-list {
  margin: auto;
  padding: 10px 15px 10px 15px;
}
.work-item {
  margin-bottom: 25px;
}
.nav-item {
  padding: 0 15px 0 0;
}
.nav-tabs {
  margin-bottom: 25px;
  border-style: none;
}
.nav-tabs .nav-link {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}
.nav-tabs .nav-link.active {
  background-color: #fff;
  border: 1px solid #fff;
  color: #282828;
}
.nav-tabs .nav-link:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #282828;
}
#works .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#works .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(224, 130, 72, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#works .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: auto;
}
.plus {
  color: #fff;
}
/* contact */
#contact {
  text-align: center;
}
.contact-area {
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  padding: 5% 10%;
}
.contact-title {
  font-size: 45px;
}
.contact-form {
  margin: 0 auto;
  width: 50%;
}
.contact-field {
  margin-bottom: 10px;
}
.green-button {
  background-color: #58A779;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-top: 15px;
  border-style: none;
  border-radius: 5px;
  text-decoration: none;
}
.green-button:hover {
  background-color: #fff;
  color: #282828;
  border-style: none;
}
/* footer */
#footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #5D5252;
    text-align: center;
}
.copyright-text {
  margin: 15px 0;
  color: #A0A0A0;
  font-size: 14px;
}
/* media queries */
@media (min-width: 1920px){
  .contact-title {
    font-size: 55px;
  }
  .title-text {
    font-size: 120px;
    padding-bottom: 35px;
  }
  .smaller-title {
    font-size: 45px;
  }
  p {
    font-size: 22px;
  }
  .section-header {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .company {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .date {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .job-title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .green-button {
    font-size: 22px;
    padding: 15px 30px 15px 30px;
  }
}
@media (min-width: 1400px){
  .circle {
    height: 50%;
  }
}
@media (max-width: 992px){
  .box-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .box-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .box-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .box-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .circle {
    height: 50%;
  }
  .contact-area {
    background-image: none;
    background-color: #242424;
    padding: 10% 5%;
  }
  .contact-form {
    width: 90%;
  }
  .container-fluid {
    padding: 5% 5%;
  }
  .navbar {
    padding-left: 5%;
    padding-right: 5%
  }
  .skills {
    margin-bottom: 15px;
  }
  .title-text {
    font-size: 55px;
  }
}
@media (max-width: 768px){
  .circle {
    display: none;
  }
  .triangle {
    display: none;
  }
  .contact-form {
    width: 95%;
  }
  .display-image {
    margin-top: 45px;
    width: 70%;
  }
  .title-area {
    text-align: center;
  }
  .about-description {
    padding: 0 15px;
  }
  .about-image {
    width: 50%;
    margin-bottom: 35px;
  }
}
@media (max-width: 576px){
  .nav-tabs .nav-link {
    margin-bottom: 15px;
  }
  .nav-item span {
    font-size: 14px;
  }
}
